/* google fonts */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* top banner section starts */
.top-banner-area {
    padding: 5%;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.top-contents h1,
.top-contents p {
    color: white;
}

h1 {
    font-size: 50px;
}

.link-button {
    text-decoration: none;
    background-color: #fc4747;
    color: white;
    font-size: 20px;
    font-weight: 200;
    padding: 6px 15px;
    border-radius: 8px;
}

section {
    margin-bottom: 100px;
}

/* donation section starts */
.donate-area {
    text-align: center;
}

h2 {
    font-size: 35px;
}

.money-select {
    display: flex;
    justify-content: center;
}

.amount-box {
    background-color: #FAFAFA;
    padding: 1px 30px;
    margin-left: 10px;
    border-radius: 5px;

}

#selected-amount {
    background-color: #FFEEEE;
    border: 2px solid red;

}

hr {
    margin: 0 18%;
}

/* donation plan starts*/
.donation-plan-section {
    margin-left: 50px;
    margin-right: 50px;
}

.donation-plan-text {
    text-align: center;
}

.donation-plans {
    display: flex;
}

.donation-plan {
    padding: 30px;
    border-radius: 10px;
}

#food-bg {
    background-color: rgba(79, 157, 166, 0.1);
    margin-right: 20px;
}

#shelter-bg {
    background-color: rgba(255, 89, 89, 0.1);
    margin-right: 20px;
}

#edu-bg {
    background-color: #fff4d6;

}

/* news section starts*/
.news-section-area {
    margin-left: 50px;
    margin-right: 50px;
}

.news-section-area h2 {
    text-align: center;

}

.news-box-area {
    display: flex;
}

.news {
    margin-right: 20px;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

#third-news {
    margin-right: 0;
}

.news img {
    border-radius: 10px;
    width: 100%;
    overflow: hidden;
}

/* get update section */
.my-update-area {
    margin-bottom: 100px;
    text-align: center;
}

.my-update-text h2 {
    font-size: 35px;
}

.email-area {
    background-color: #FFF4D6;
    margin-left: 100px;
    margin-right: 100px;
    padding: 30px;
    border-radius: 10px;
}

#email {
    background-color: #D9D9D9;
    padding: 7px;
    margin-left: 0;
    display: inline;
    border: none;
    border-radius: 5px;
}

#subscribe {
    background-color: #FF5959;
    color: white;
    padding: 7px;
    margin-right: 0;
    border: none;
    border-radius: 5px;
    display: inline;
}

/* get update section end*/
.footer {
    text-align: center;
    background-color: black;
    padding: 50px;
}

.footer h2 {
    color: orange;
    /* google fonts */
    font-family: 'Dancing Script', cursive;
}

.footer p {
    color: white;
}