/* google fonts */
body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
}

section {
    margin-bottom: 80px;
}

.top-banner-area {
    /* width: 100%; */
    /* height: 100vh; */
    padding: 5%;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.link-button {
    text-decoration: none;
    background-color: #fc4747;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 8px;
}

.donate-section {
    text-align: center;
}

.money-select {
    display: flex;
    justify-content: center;
}

.money {
    display: flex;
}

.amount-box {
    /* display: flex; */
    background-color: #FAFAFA;
    padding: 1px 30px;
    margin-left: 10px;
    border-radius: 5px;

}

#selected-amount {
    background-color: #FFEEEE;
    border: 2px solid red;

}

.text-align {
    text-align: center;
}

.donation-plans {
    display: flex;
}

.donation-plan {
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

#food-bg {
    background-color: rgba(79, 157, 166, 0.1);
}

#edu-bg {
    background-color: #fff4d6;
}

#shelter-bg {
    background-color: rgba(255, 89, 89, 0.1);
}

footer {
    background-color: black;
    margin-bottom: 0;
    padding: 50px;
}

.my-update-section {
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
}

.email-area {
    text-align: center;
    background-color: #FFF4D6;
    width: 70%;
    padding: 50px;
}

#email {
    background-color: #D9D9D9;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

#subscribe {
    background-color: #FF5959;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.footer {
    text-align: center;
}

.white-color-text {
    color: white;
}