/* google fonts */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

section {
    margin-bottom: 80px;
}

.top-banner-area {
    padding: 5%;
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.top-contents h1,
.top-contents p {
    color: white;
}

.link-button {
    text-decoration: none;
    background-color: #fc4747;
    color: white;
    font-size: 20px;
    font-weight: 300;
    padding: 10px 25px;
    border-radius: 8px;
}

.donation-section {
    text-align: center;
}

.donation-text h2 {
    font-size: 40px;
}

.money-select {
    display: flex;
    justify-content: center;
}

.money {
    display: flex;
}

.amount-box {
    background-color: #FAFAFA;
    padding: 1px 30px;
    margin-left: 10px;
    border-radius: 5px;

}

#selected-amount {
    background-color: #FFEEEE;
    border: 2px solid red;

}

.donation-plan-text {
    text-align: center;
}

.donation-plans {
    display: flex;
}

.donation-plan {
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

#food-bg {
    background-color: rgba(79, 157, 166, 0.1);
}

#edu-bg {
    background-color: #fff4d6;
}

#shelter-bg {
    background-color: rgba(255, 89, 89, 0.1);
}

.news-section-area h2 {
    text-align: center;
}

.news-area {
    display: flex;
    padding: 50px;
    margin-bottom: 100px;
}

.news {
    margin: 20px;
    /* padding: 20px; */
    border-radius: 10px;
}

.news img {
    width: 100%;
    /* height: 100%; */
    /* padding: 20px;
    margin: 20px; */
}



.vbn {
    margin-top: 100px;
    text-align: center;
}

.email-area {
    background-color: #FFF4D6;
    margin: 0 10%;
    padding: 50px;
    border-radius: 10px;
}

#email {
    background-color: #D9D9D9;
    padding: 5px;
    margin-left: 0;
    display: inline;
    border: none;
    border-radius: 5px;
}

#subscribe {
    background-color: #FF5959;
    padding: 5px;
    margin-right: 0;
    border: none;
    border-radius: 5px;
    display: inline;
}

.footer {
    text-align: center;
}

footer {
    background-color: black;
    margin-bottom: 0;
    padding: 50px;
}